{% load static %}
<header>
   <div class="logo">
        <a href="{% url "car-list" %}"><img src="{% static 'images/car_logo.png' %}" alt="Логотип"></a>
    </div>
    {% comment %} <div class="search-bar">
        <input type="text" placeholder="Поиск...">
        <button class="search-btn">Поиск</button>
    </div> {% endcomment %}
    <div class="auth">
        {% if user.is_authenticated %}
            <a class='profile' href="{% url "profile" %}">{{user}}</a>
            <a class="car-add" href="{% url "car-add" %}">Добавить автомобиль</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="logout" type="submit">Выход</button>
            </form>
        {% else %}
            <a class="login" href="{% url "login" %}">Вход</a>
            <a class="register" href="{% url "register" %}">Регистрация</a>
        {% endif %}
    </div>
</header>